.tab__panel__content{
    height: 100%;
    width: 100%;
    background-color: #fff;
    form{
        margin-top: 3rem;
    }
}

.tabs__container{
    height: 64px;
    display: flex;
    justify-content: center;
    background-color: #9094FF;
    button{
        height: 100%;
        width: 100%;
        border-color: #9094FF;
        background-color: #fff;
        border-style: solid;
        outline: none;
        font-weight: bold;
        color: #9094FF;
        border-radius: 2.5px;
    }

    button:first-of-type{
        border-width: 2px 1px 2px 2px;
    }
    
    button:last-of-type{
        border-width: 2px 2px 2px 2px;
    }
}