.modal__container{
    display:flex;
    flex-direction: row;
    align-items: center;
    .products__amount{
        font-weight: bold;
        color: #9094FF;
    }
}

p{
    margin: 0;
    padding: 6px;
    align-self: center;
}