.cart__item{
    display: flex;
    margin-bottom: 6px;
    :last-of-type{
        margin-bottom: 0;
    }
}

.cart__item__price{
    color: #eabf00;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.middle__section{
    p:last-of-type{
        color: rgb(124, 124, 124);
    }
    width: 100%;
}

.product__image{
    padding: 0 4px;
    overflow: hidden;
    width: 40%;

    img{
        grid-area: image;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        border-radius: 4px;
        box-shadow: 0px 18.025px 43.775px rgba(0, 0, 0, 0.25);
    }
    
}

  /* The Close Button */
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 12px;
    cursor:pointer;
  }
  .close:hover{
    color: #808080;
  }

  .buttons__section{
      display: flex;
      flex-direction: column;
      width: 30%;
  }

  .amount__control{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .control__button{
    color: #b7b7b7;
    border: 0;
    background-color: #000;
    width: 25px;
    height: 25px;
    margin: 0 1px;
    cursor:pointer;
  }
  .control__button:hover{
    background-color: rgb(31, 31, 31);
  }